/* styles.css */
body {
  font-family: var(--font-family-sans-serif);
  margin: 0;
  padding: 0;
  background-color: #11111d;
  color: #dbebfb;
}


/* Main content styles */
.container {
  color: #dbebfb;
}

.jumbotron {
  background-color: transparent;
}

/* Timeline styles */
#timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-card {
  background-color: #1d1e2f;
  border: 1px solid #32334a;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.timeline-date {
  font-weight: bold;
  color: #dbebfb;
}

.timeline-content {
  margin-top: 10px;
}

.timeline-title {
  font-weight: bold;
  color: #714cdf;
}

.timeline-description {
  color: #dbebfb;
}

.timeline-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}


