/* Reset styles to normalize browser differences */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Make sure to define border-box box-sizing to avoid sizing issues */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Set a base font and font size */
body {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  color: #02023E; /* Default font color */
  line-height: 1.6;
}

/* Page layout and container styles */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
header {
  background: linear-gradient(to right, #08C7D6, #02023E); /* Gradient background */
  color: #ffffff; /* Default text color for the header */
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #02023E; /* Use the primary gradient end color for navigation background */
  position: relative;
}

/* HW text as the logo */
.logo-container {
  flex: 1;
  position: relative;
}

.logo {
  font-size: 32pc;
  font-weight: bold;
  color: #ffffff; /* Use white color for the HW text */
  line-height: 40px; /* Match the height of the navigation bar */
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  z-index: 2;
}

nav li {
  margin-left: 20px;
}

.mobile-menu-button {
  display: none;
  font-size: 24px;
  color: #ffffff; /* Use white color for the mobile menu button */
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

/* Main content styles */
section {
  margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
}

ul, ol {
  margin-left: 20px;
  margin-bottom: 20px;
}

a {
  color: #08C7D6; /* Use the primary gradient start color for links */
  text-decoration: none;
}

/* Footer styles */
footer {
  background: linear-gradient(to right, #08C7D6, #02023E); /* Gradient background */
  color: #ffffff; /* Default text color for the footer */
  padding: 10px 0;
  text-align: center;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  nav ul {
    display: none;
  }

  .mobile-menu-button {
    display: block;
  }

  .show {
    display: flex;
    flex-direction: column;
  }

  .show li {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
