.swag-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    position: relative;
}

.swag-card {
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(0, 243, 255, 0.2);
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
    position: relative;
    transform-origin: center;
}

.swag-card:hover {
    border: 1px solid var(--neon-blue);
}

.swag-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 1rem;
}

.swag-card img:hover {
    animation: pixelateScale 0.3s ease-out forwards;
    z-index: 100;
}

@keyframes pixelateScale {
    0% {
        transform: scale(1);
        filter: url('#pixelate');
    }
    10% {
        transform: scale(1.15);
        filter: url('#pixelate');
    }
    20% {
        transform: scale(1.3);
        filter: url('#pixelate');
    }
    30% {
        transform: scale(1.45);
        filter: url('#pixelate');
    }
    40% {
        transform: scale(1.6);
        filter: url('#pixelate');
    }
    50% {
        transform: scale(1.85);
        filter: url('#pixelate');
    }
    60% {
        transform: scale(2);
        filter: url('#pixelate');
    }
    70% {
        transform: scale(2.2);
        filter: url('#pixelate');
    }
    80% {
        transform: scale(2.4);
        filter: url('#pixelate');
    }
    90% {
        transform: scale(2.5);
        filter: url('#pixelate');
    }
    100% {
        transform: scale(2.6);
        filter: none;
    }
}

.swag-card h3 {
    color: var(--neon-blue);
    margin-bottom: 1rem;
}

.swag-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 1rem;
}

.swag-card p {
    color: #808080;
    text-align: left;
}
